.App {
  font-family: sans-serif;
  text-align: left;
  width: 500px;
  height: 800px;
  background: #360160;
  padding-left: 60px;
  padding-top: 34px;
}
.heading {
  width: 380px;
  height: 94px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 90.3%;
  color: #ffdc40;
}
.sum,
.service,
.guests {
  width: 380px;
  height: 23px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.sumInput,
.serviceInput,
.guestsInput {
  width: 380px;
  height: 50px;
  left: 60px;
  top: 200px;
  background: #ffffff;
  border: 2px solid #a4cef4;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}
.empty,
.bad,
.normal,
.good,
.excelent {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}
button {
  width: 180px;
  height: 60px;
  left: 60px;
  top: 480px;
  background: #7c7a7a;
  border-radius: 15px;
  margin-right: 20px;
  color: white;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 67px;
}
button:hover {
  background: #ffdc40;
  color: black;
}
.resultOne,
.resultTwo {
  height: 29px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}
.each {
  height: 21px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #b6b6b6;
}
.error {
  color: white;
  font-size: 10px;
  margin-top: 0px;
}
